---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Abdelrahman Wahdan's personal blog" } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex min-h-screen flex-col bg-gray-50 text-gray-900 transition-colors dark:bg-gray-900 dark:text-gray-100"
  >
    <Header />
    <main class="flex-grow pt-16">
      <slot />
    </main>
    <Footer />
    <script>
      const updateTheme = () => {
        const theme = localStorage.getItem('theme') ?? 'dark';
        if (theme === 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      };

      // Update theme on page load
      updateTheme();

      // Update theme on view transitions
      document.addEventListener('astro:after-swap', updateTheme);
    </script>

    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </body>
</html>
