---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Analytics from '@vercel/analytics/astro'

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Abdelrahman Wahdan's personal blog" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex min-h-screen flex-col bg-white text-gray-900 transition-colors dark:bg-[#0d1117] dark:text-gray-300">
    <Header />
    <main class="relative flex-grow pt-16">
      <slot />
    </main>
    <Footer />
  </body>

  <script>
    const updateTheme = () => {
      const theme = localStorage.getItem('theme') ?? 'dark';
      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    };

    updateTheme();
    document.addEventListener('astro:after-swap', updateTheme);
  </script>

  <style is:global>
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    html {
      font-family: 'Fira Code', monospace;
      scroll-behavior: smooth;
    }

    body {
      margin: 0;
      padding: 0;
    }

    .typing-effect {
      overflow: hidden;
      white-space: nowrap;
      animation: typing 2s steps(40, end);
    }
  </style>
  <Analytics/>
</html>